@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --backg-color:#191A23;
  --txt-color: #7f7575;
  --main_back: #1c1f24;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  user-select: none;
}
html,body {
  font-size: 62.5%;
  /* background-color: var(--backg-color); */
}
img {
  cursor: pointer;
}

.main_container{
  min-width: 100%;
  min-height: 100%;
}

