.gantt_grid_container__tasks {
    font-size: 1.4rem;
padding-left: 1rem;
  }

  .gantt_task_row {
    display: flex;
    outline: 0.5px solid transparent;
    text-align: center;
    height: var(--cell-height);
    border: none;
  }

  input {
    width: 127px;
    border: none;
    outline: none;
    background: none;
  }

  button {
    line-height: 0px;
    color: #ef5350;
    background: none;
    border-radius: 5px;
    border: none;
    transition: all 0.2s ease;
  }

  button:focus {
    outline: none;
    transform: scale(1.3);
  }